<div class="attributes" style="width:100%">
	<h3 style="align:center">Attributes</h3>
	<table>
		<tr>
			<th style="width:62px"></th>
			{{#each system.attributes as |attribute key|}}
			{{#unless (eq key "locked")}}
			<th>
				<label style="text-align:center;" class="resource-label {{#if (eq ../system.attributes.locked 'true')}}rollable{{/if}}" data-rolltype="attribute" data-link="{{key}}" id="{{key}}" >{{toUpperCase key}}</label>
			</th>
			{{/unless}}
			{{/each}}
		</tr>
		<tr>
			<td class="resource-label">Level 
			<i class="fa-solid fa-lock{{#if (or (eq system.attributes.locked 'false') (eq system.attributes.locked undefined))}}-open{{/if}} clickable lock-attribute" data-setvalue="{{#if (or (eq system.attributes.locked 'false') (eq system.attributes.locked undefined))}}true{{else}}false{{/if}}" style="float:right; padding-left:2px; width:24px; height:24px;"></i>
			</td>
			{{#each system.attributes as |attribute key|}}
			{{#unless (eq key "locked")}}
			{{#if (eq ../system.attributes.locked 'true')}}
			<td>
				<div style="text-align:center;" class="rollable" id="{{key}}" data-rolltype="attribute" data-link="{{key}}">{{attribute}}</div>
			</td>
			{{else}}
			<td>
				<input type="number" style="text-align:center;" name="system.attributes.{{key}}" {{#if (in key 'bod' 'wil')}}class="set-max set-attribute" id="{{key}}"{{else}}class="set-attribute"{{/if}} value="{{attribute}}" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
			</td>
			{{/if}}
			{{/unless}}
			{{/each}}
		</tr>
	</table>
	<div class="flexrow">
		<h3 style="font-size:16px !important">Dual Attribute Roll</h3>
		<input type="checkbox" class="dual-attribute-roll" value="Dual Attribute Roll" />
		<select id="dual-attribute-roll" class="hidden" value="" style="width:25%">
			<option value="str">STR</option>
			<option value="bod">BOD</option>
			<option value="rfl">RFL</option>
			<option value="dex">DEX</option>
			<option value="wil">WIL</option>
			<option value="int">INT</option>
			<option value="cha">CHA</option>
		</select>
		<div style="width:25%" id="dual-attribute-divider"></div>
	</div>
	
	<br>
	
	<h3>Special Abilities</h3>
	<table>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Description</th>
			<th>Lock</th>
			<th>Delete</th>
		</tr>
		{{#each system.traits as |trait key|}}
		<tr>
			{{#if (eq trait.locked 'true')}}
			<td style="text-align:center;">
				<img src="systems/a-time-of-war/icons/toChat.png" class="trait-to-chat clickable" id="{{key}}" style="width:24px; height:24px;" />
			</td>
			<td style="text-align:center;">{{trait.name}}</td>
			<td style="text-align:center;">{{trait.description}}</td>
			{{else}}
			<td>
				<img src="systems/a-time-of-war/icons/toChat.png" style="width:24px; height:0px; border:0px !important;" />
			</td>
			<td style="text-align:center;">
				<input type="text" value="{{trait.name}}" id="{{key}}" name="system.traits.{{key}}.name" placeholder="Enter trait name here..." />
			</td>
			<td style="text-align:center;">
				<textarea id="{{key}}" name="system.traits.{{key}}.description" placeholder="Enter trait description here..." >{{trait.description}}</textarea>
			</td>
			{{/if}}
			<td style="text-align:center;">
				<i class="fa-solid fa-lock{{#if (or (eq trait.locked 'false') (eq trait.locked undefined))}}-open{{/if}} clickable lock-trait" data-setvalue="{{#if (or (eq trait.locked 'false') (eq trait.locked undefined))}}true{{else}}false{{/if}}" id="{{key}}" style="width:24px; height:24px;"></i>
			</td>
			<td style="text-align:center;">
				<img style="width:24px; height:24px;" src="systems/a-time-of-war/icons/delete.png" class="clickable delete-trait" id="{{key}}" />
			</td>
		</tr>
		{{/each}}
	</table>
	<input type="text" id="add-new-trait" placeholder="Type name of new trait here..." />
	
	<br><br>
	
	<h3>Skills</h3>
	<table>
		<tr>
			<th style="width:10%">Roll</th>
			<th style="width:20%">Skill</th>
			<th style="width:20%">Modifier</th>
			<th style="width:20%">Natural Aptitude</th>
			<th style="width:20%">TN/Type</th>
			<th style="width:10%">Lock</th>
			<th style="width:10%">Delete</th>
		</tr>
		{{#each system.skills as |skill key|}}
		<tr>
			{{#if (eq skill.locked 'true')}}
			<td style="text-align:center;">
				<i class="fa-solid fa-dice rollable" data-rolltype="skill" style="width:24px; height:24px;" id="{{key}}" ></i>
			</td>
			<td style="text-align:center;">{{skill.name}}</td>
			<td style="text-align:center;">{{skill.modifier}}</td>
			<td style="text-align:center;">
				<input disabled type="checkbox" {{#if skill.naturalAptitude}}checked{{/if}} />
			</td>
			<td style="text-align:center;">{{skill.tn}}/{{skill.type}}</td>
			<td style="text-align:center;">
				<i class="fa-solid fa-lock clickable lock-skill" data-setvalue="false" style="width:24px; height:24px;" id="{{key}}" ></i>
			</td>
			{{else}}
			<td></td>
			<td style="text-align:center;">
				<input type="text" name="system.skills.{{key}}.name" value="{{skill.name}}" />
			</td>
			<td style="text-align:center;">
				<input type="number" name="system.skills.{{key}}.modifier" value="{{skill.modifier}}" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
			</td>
			<td style="text-align:center;">
				<input type="checkbox" name="system.skills.{{key}}.naturalAptitude" {{#if skill.naturalAptitude}}checked{{/if}} />
			</td>
			<td style="text-align:center;">
				<table>
					<tr>
						<td style="text-align:center;">{{skill.tn}}</td>
						<td style="text-align:center;">/</td>
						<td style="text-align:center;">
							<select class="select-skill-type" name="system.skills.{{key}}.type" id="{{skill.id}}">
							{{#select skill.type}}
								<option value="SB">SB</option>
								<option value="SA">SA</option>
								<option value="CB">CB</option>
								<option value="CA">CA</option>
							{{/select}}
							</select>
						</td>
					</tr>
				</table>
			</td>
			<td style="text-align:center;">
				<i class="fa-solid fa-lock-open clickable lock-skill" data-setvalue="true" style="width:24px; height:24px;" id="{{key}}" ></i>
			</td>
			{{/if}}
			<td style="text-align:center;">
				<img style="width:24px; height:24px;" src="systems/a-time-of-war/icons/delete.png" class="clickable delete-skill" id="{{key}}" />
			</td>
		</tr>
		{{/each}}
	</table>
	<input type="text" id="add-new-skill" placeholder="Type name of new skill here..." />
</div>