<div class="attributes" style="width:100%">
	<h4 style="align:center">Attributes</h4>
	{{#each system.attributes as |attribute key|}}
		<div class="ability flexrow flex-group-center">
			<label for="system.attributes.{{key}}.value" class="resource-label rollable flexlarge align-left" data-label="system.attributes.{{key}}">{{attribute key}}</label>
			|||||
			{{attribute}}
			|
			{{key}}
			|
			{{attribute.name}}
			|
			{{key.name}}
			|
			{{key.value}}
			|||||||
			<span id="system.attributes.{{key}}.value">{{attribute.value}}</span>
		</div>
	{{/each}}
	<div class="grid grid-8col">
		STRENGTH PEOPLE
		<div class="attribute flex-group-center">
			<label for="system.attributes.str.level" class="resource-label">{{system.attributes.str}}</label> {{system.attributes.str.level}} 
		</div>
		<div class="attribute flex-group-center">
			<label for="system.attributes.bod.level" class="resource-label">{{system.attributes.bod}}</label> {{system.attributes.bod.level}} 
		</div>
		<div class="attribute flex-group-center">
			<label for="system.attributes.rfl.level" class="resource-label">{{system.attributes.rfl}}</label> {{system.attributes.rfl.level}} 
		</div>
	</div>
	STRENGTH ASONFAONSFO
</div>