<div class="attributes" style="width:100%; border:10px;">
	<h4 style="float:center">Attributes</h4>
	<table>
		<tr>
			{{#each system.attributes as |attribute key|}}
			<th>
				<label for="system.attributes.{{key}}.value" class="resource-label rollable flexlarge align-left" data-label="system.attributes.{{key}}">{{toUpperCase key}}</label>
			</th>
			{{/each}}
		</tr>
		<tr>
			{{#each system.attributes as |attribute key|}}
			<td>
				<div class="align-center" id="system.attributes.{{key}}.value">{{attribute.level}}</div>
			</td>
			{{/each}}
		</tr>
	</table>
</div>