<div class="attributes" style="width:100%; border:10px;">

	<h3 style="float:center">Attributes</h3>
	<table>
		<tr>
			{{#each system.attributes as |attribute key|}}
			<th>
				<label for="system.attributes.{{key}}.level" class="resource-label rollable align-left" data-rolltype="attribute" data-tn="12" data-link="{{key}}" data-label="{{toUpperCase key}}">{{toUpperCase key}}</label>
			</th>
			{{/each}}
		</tr>
		<tr>
			{{#each system.attributes as |attribute key|}}
			<td>
				<div class="align-center" id="system.attributes.{{key}}.level">{{attribute.level}}</div>
			</td>
			{{/each}}
		</tr>
	</table>
	
	<h3 style="float:center">Skills</h3>
	<table>
		<tr>
			<th>
				<span>Skill</span>
			</th>
			<th>
				<span>Link</span>
			</th>
			<th>
				<span>Level</span>
			</th>
			<th>
				<span>TN</span>
			</th>
		</tr>
		{{#each system.skills as |skill key|}}
		{{#unless (in key 'art' 'career' 'interest' 'language' 'protocol' 'science' 'streetwise' 'survival')}}
		<tr>
			<td>
				<label for="system.skills.{{key}}.level" class="resource-label rollable align-left" data-rolltype="skill" data-label="{{key}}" data-actiontype="{{skill.type}}">{{key}}</label>
			</td>
			<td>
				<div class="align-center" id="system.skills.{{key}}.link">{{skill.link}}</div>
			</td>
			<td>
				<div class="align-center" id="system.skills.{{key}}.level">{{skill.level}}</div>
			</td>
			<td>
				<div class="align-center" id="system.skills.{{key}}.level">{{skill.tn}}</div>
			</td>
		</tr>
		{{/unless}}
		{{/each}}
	</table>
	<!-- Custom skill tables -->
	<h3 style="float:center; font-size:16px !important;">Arts</h3>
	<table>
		<!--<tr>
			<th>
				<span>Skill</span>
			</th>
			<th>
				<span>Link</span>
			</th>
			<th>
				<span>Level</span>
			</th>
			<th>
				<span>TN</span>
			</th>
		</tr>-->
		{{#each system.skills.art as |skill key|}}
		<tr>
			<td>
				<label for="system.skills.art.{{key}}.level" class="resource-label rollable align-left" data-rolltype="skill" data-label="{{key}}" data-actiontype="{{skill.type}}" data-baseskill="art">{{key}}</label>
			</td>
			<td>
				<div class="align-center" id="system.skills.{{key}}.link">{{skill.link}}</div>
			</td>
			<td>
				<div class="align-center" id="system.skills.{{key}}.level">{{skill.level}}</div>
			</td>
			<td>
				<div class="align-center" id="system.skills.{{key}}.level">{{skill.tn}}</div>
			</td>
		</tr>
		{{/each}}
		<tr>
			<td>
				<select class="new-skill-link-art">
					<option value="str" selected="selected">STR</option>
				</select>
				<input class="add-new-skill" data-baseskill="art" data-tn="7" data-type="SB" type="text" placeholder="type name of art new skill here">
			</td>
		</tr>
	</table>
	
	<h3 style="float:center; font-size:16px !important;">Careers</h3>
	<table>
		<!--<tr>
			<th>
				<span>Skill</span>
			</th>
			<th>
				<span>Link</span>
			</th>
			<th>
				<span>Level</span>
			</th>
			<th>
				<span>TN</span>
			</th>
		</tr>-->
		{{#each system.skills.career as |skill key|}}
		<tr>
			<td>
				<label for="system.skills.career.{{key}}.level" class="resource-label rollable align-left" data-rolltype="skill" data-label="{{key}}" data-actiontype="{{skill.type}}" data-baseskill="career">{{key}}</label>
			</td>
			<td>
				<div class="align-center" id="system.skills.{{key}}.link">{{skill.link}}</div>
			</td>
			<td>
				<div class="align-center" id="system.skills.{{key}}.level">{{skill.level}}</div>
			</td>
			<td>
				<div class="align-center" id="system.skills.{{key}}.level">{{skill.tn}}</div>
			</td>
		</tr>
		{{/each}}
	</table>
	
	<h3 style="float:center; font-size:16px !important;">Interests</h3>
	<table>
		<!--<tr>
			<th>
				<span>Skill</span>
			</th>
			<th>
				<span>Link</span>
			</th>
			<th>
				<span>Level</span>
			</th>
			<th>
				<span>TN</span>
			</th>
		</tr>-->
		{{#each system.skills.interest as |skill key|}}
		<tr>
			<td>
				<label for="system.skills.interest.{{key}}.level" class="resource-label rollable align-left" data-rolltype="skill" data-label="{{key}}" data-actiontype="{{skill.type}}" data-baseskill="interest">{{key}}</label>
			</td>
			<td>
				<div class="align-center" id="system.skills.{{key}}.link">{{skill.link}}</div>
			</td>
			<td>
				<div class="align-center" id="system.skills.{{key}}.level">{{skill.level}}</div>
			</td>
			<td>
				<div class="align-center" id="system.skills.{{key}}.level">{{skill.tn}}</div>
			</td>
		</tr>
		{{/each}}
	</table>
		
	<h3 style="float:center; font-size:16px !important;">Languages</h3>
	<table>
		<!--<tr>
			<th>
				<span>Skill</span>
			</th>
			<th>
				<span>Link</span>
			</th>
			<th>
				<span>Level</span>
			</th>
			<th>
				<span>TN</span>
			</th>
		</tr>-->
		{{#each system.skills.language as |skill key|}}
		<tr>
			<td>
				<label for="system.skills.language.{{key}}.level" class="resource-label rollable align-left" data-rolltype="skill" data-label="{{key}}" data-actiontype="{{skill.type}}" data-baseskill="language">{{key}}</label>
			</td>
			<td>
				<div class="align-center" id="system.skills.{{key}}.link">{{skill.link}}</div>
			</td>
			<td>
				<div class="align-center" id="system.skills.{{key}}.level">{{skill.level}}</div>
			</td>
			<td>
				<div class="align-center" id="system.skills.{{key}}.level">{{skill.tn}}</div>
			</td>
		</tr>
		{{/each}}
	</table>
		
	<h3 style="float:center; font-size:16px !important;">Protocols</h3>
	<table>
		<!--<tr>
			<th>
				<span>Skill</span>
			</th>
			<th>
				<span>Link</span>
			</th>
			<th>
				<span>Level</span>
			</th>
			<th>
				<span>TN</span>
			</th>
		</tr>-->
		{{#each system.skills.protocol as |skill key|}}
		<tr>
			<td>
				<label for="system.skills.protocol.{{key}}.level" class="resource-label rollable align-left" data-rolltype="skill" data-label="{{key}}" data-actiontype="{{skill.type}}" data-baseskill="protocol">{{key}}</label>
			</td>
			<td>
				<div class="align-center" id="system.skills.{{key}}.link">{{skill.link}}</div>
			</td>
			<td>
				<div class="align-center" id="system.skills.{{key}}.level">{{skill.level}}</div>
			</td>
			<td>
				<div class="align-center" id="system.skills.{{key}}.level">{{skill.tn}}</div>
			</td>
		</tr>
		{{/each}}
	</table>
		
	<h3 style="float:center; font-size:16px !important;">Sciences</h3>
	<table>
		<!--<tr>
			<th>
				<span>Skill</span>
			</th>
			<th>
				<span>Link</span>
			</th>
			<th>
				<span>Level</span>
			</th>
			<th>
				<span>TN</span>
			</th>
		</tr>-->
		{{#each system.skills.science as |skill key|}}
		<tr>
			<td>
				<label for="system.skills.science.{{key}}.level" class="resource-label rollable align-left" data-rolltype="skill" data-label="{{key}}" data-actiontype="{{skill.type}}" data-baseskill="science">{{key}}</label>
			</td>
			<td>
				<div class="align-center" id="system.skills.{{key}}.link">{{skill.link}}</div>
			</td>
			<td>
				<div class="align-center" id="system.skills.{{key}}.level">{{skill.level}}</div>
			</td>
			<td>
				<div class="align-center" id="system.skills.{{key}}.level">{{skill.tn}}</div>
			</td>
		</tr>
		{{/each}}
	</table>
		
	<h3 style="float:center; font-size:16px !important;">Streetwise</h3>
	<table>
		<!--<tr>
			<th>
				<span>Skill</span>
			</th>
			<th>
				<span>Link</span>
			</th>
			<th>
				<span>Level</span>
			</th>
			<th>
				<span>TN</span>
			</th>
		</tr>-->
		{{#each system.skills.streetwise as |skill key|}}
		<tr>
			<td>
				<label for="system.skills.streetwise.{{key}}.level" class="resource-label rollable align-left" data-rolltype="skill" data-label="{{key}}" data-actiontype="{{skill.type}}" data-baseskill="streetwise">{{key}}</label>
			</td>
			<td>
				<div class="align-center" id="system.skills.{{key}}.link">{{skill.link}}</div>
			</td>
			<td>
				<div class="align-center" id="system.skills.{{key}}.level">{{skill.level}}</div>
			</td>
			<td>
				<div class="align-center" id="system.skills.{{key}}.level">{{skill.tn}}</div>
			</td>
		</tr>
		{{/each}}
	</table>
		
	<h3 style="float:center; font-size:16px !important;">Survival</h3>
	<table>
		<!--<tr>
			<th>
				<span>Skill</span>
			</th>
			<th>
				<span>Link</span>
			</th>
			<th>
				<span>Level</span>
			</th>
			<th>
				<span>TN</span>
			</th>
		</tr>-->
		{{#each system.skills.survival as |skill key|}}
		<tr>
			<td>
				<label for="system.skills.survival.{{key}}.level" class="resource-label rollable align-left" data-rolltype="skill" data-label="{{key}}" data-actiontype="{{skill.type}}" data-baseskill="survival">{{key}}</label>
			</td>
			<td>
				<div class="align-center" id="system.skills.{{key}}.link">{{skill.link}}</div>
			</td>
			<td>
				<div class="align-center" id="system.skills.{{key}}.level">{{skill.level}}</div>
			</td>
			<td>
				<div class="align-center" id="system.skills.{{key}}.level">{{skill.tn}}</div>
			</td>
		</tr>
		{{/each}}
	</table>

</div>