<!--<div class="flexrow">
	<h3>Life Path</h3>
	<span>Show Selectors: </span>
	<input id="lifepath-show-selectors" type="checkbox" />
	<span>Show Modules: </span>
	<input id="lifepath-show-modules" type="checkbox" />
</div>
<div id="lifepath-selectors" style="display:none">-->
	<!--Affiliation-->
	<!--<div class="flexrow">
		<label class="resource-label" style="text-align:center;">Life Module 0: Affiliation ({{system.lifepath.affiliation.cost}} XP)</label>
		<select id="affiliation-select" onfocus="this.selectedIndex = -1;">
			<option dataset-cost="150" value="liao">Capellan Confederation (House Liao)</option>
			<option dataset-cost="150" dataset-attributes="str,dex" dataset-attributevalues="100,50" value="kurita">Draconis Combine (House Kurita)</option>
			<option value="davion">Federated Suns (House Davion)</option>
			<option value="marik">Free Worlds League (House Marik)</option>
			<option value="steiner">Lyran Alliance (House Steiner)</option>
			<option value="rasalhague">Free Rasalhague Republic</option>
			<option value="minor_periphery">Minor Periphery</option>
			<option value="major_periphery">Major Periphery State</option>
			<option value="deep_periphery">Deep Periphery</option>
			<option value="terran">Terran</option>
			<option value="independent">Independent</option>
			<option value="comstar">ComStar/Word of Blake</option>
		</select>-->
		<!--Subaffiliation-->
		<!--{{#unless (eq system.lifepath.affiliation.name undefined)}}
		<select id="subaffiliation-select" onfocus="this.selectedIndex = -1;">
		{{#if (eq system.lifepath.affiliation.name "liao")}}
			<option value="capellan_com">Capellan Commonality</option>
			<option value="liao_com">Liao Commonality</option>
			<option value="sian_com">Sian Commonality</option>
			<option value="stives_com">St. Ives Commonality</option>
			<option value="victoria_com">Victoria Commonality</option>
		{{else if (eq system.lifepath.affiliation.name "kurita")}}
			<option value="azami">Azami</option>
			<option value="benjamin">Benjamin District</option>
			<option value="dieron">Dieron District</option>
			<option value="galedon">New Samarkand (Galedon) District</option>
			<option value="pesht">Pesht District</option>
		{{/if}}
		</select>
		{{/unless}}
	</div>
</div>-->

<!--Advance maker-->
<table id="advanceMaker" style="width:100%" class="items-list">
	<caption><h3>Submit New Advance</h3></caption>
	<thead>
		<tr class="items-header">
			<th style="width:16.4%">Type</th>
			<th style="width:39.6%">Name</th>
			<th style="width:17.46%">XP Value</th>
			<th style="width:16.7%">Free advance</th>
			<th style="width:9.84%">Submit</th>
		</tr>
	</thead>
	<tbody>
		<tr style="text-align:center">
			<td>
				<select id="advance-type" class="advance-type" style="width:89.24%" onfocus="this.selectedIndex = -1;">
					<option value="attribute">Attribute</option>
					<option value="skill">Skill</option>
					<option value="trait">Trait</option>
				</select>
			</td>
			<td>
				<select id="advance-name" class="advance-name" style="width:94.18%" onfocus="this.selectedIndex = -1;">
					{{#if (eq system.advanceMaker.type "attribute")}}
						<option value="str">STR</option>
						<option value="bod">BOD</option>
						<option value="dex">DEX</option>
						<option value="rfl">RFL</option>
						<option value="wil">WIL</option>
						<option value="int">INT</option>
						<option value="cha">CHA</option>
						<option value="edg">EDG</option>
					{{else if (eq system.advanceMaker.type "trait")}}
						{{#each system.traits as |trait key|}}
							<option value="{{trait.id}}">{{trait.name}}</option>
						{{/each}}
					{{else if (eq system.advanceMaker.type "skill")}}
						{{#each system.skills as |skill key|}}
						{{#unless (in key 'art' 'career' 'interest' 'language' 'protocol' 'science' 'streetwise' 'survival' 'piloting_protomech')}}
							<option value="{{key}}">{{key}}</option>
						{{/unless}}
						{{/each}}
						{{#each system.skills.art as |skill key|}}
							<option value="art/{{key}}">Art/{{key}}</option>
						{{/each}}
						{{#each system.skills.career as |skill key|}}
							<option value="career/{{key}}">Career/{{key}}</option>
						{{/each}}
						{{#each system.skills.interest as |skill key|}}
							<option value="interest/{{key}}">Interest/{{key}}</option>
						{{/each}}
						{{#each system.skills.language as |skill key|}}
							<option value="language/{{key}}">Language/{{key}}</option>
						{{/each}}
						{{#each system.skills.protocol as |skill key|}}
							<option value="protocol/{{key}}">Protocol/{{key}}</option>
						{{/each}}
						{{#each system.skills.science as |skill key|}}
							<option value="science/{{key}}">Science/{{key}}</option>
						{{/each}}
						{{#each system.skills.streetwise as |skill key|}}
							<option value="streetwise/{{key}}">Streetwise/{{key}}</option>
						{{/each}}
						{{#each system.skills.survival as |skill key|}}
							<option value="survival/{{key}}">Survival/{{key}}</option>
						{{/each}}
					{{/if}}
				</select>
			</td>
			<td>
				<input id="advance-xp" type="number" class="advance-xp" placeholder="0" />
			</td>
			<td>
				<input type="checkbox" id="advance-free" class="advance-free" />
			</td>
			<td>
				<input type="button" class="advance-finish" />
			</td>
		</tr>
	</tbody>
</table>
<br>
<table class="items-list">
	<caption>
		<h3>Advances</h3>
	</caption>
	<thead>
		<tr class="items-header">
			<th style="text-align:left; padding-left:5px">Type</th>
			<th style="text-align:left">Name</th>
			<th style="text-align:left">XP</th>
			<th style="text-align:left">Delete</th>
		</tr>
	</thead>
	<tbody>
		{{#each system.advances as |advance key|}}
		<tr>
			<td>{{localize advance.type}}</td>
			<td>{{localize advance.name}}</td>
			<td>{{#if advance.free}}(free){{/if}} {{advance.xp}}</td>
			<td>
				<input type="button" class="delete-advance" data-type="{{advance.type}}" data-name="{{advance.name}}" data-xp="{{advance.xp}}" id="{{advance.id}}" value="Delete" />
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>