<div class="character" style="width:100%; border:10px;">
	<div class="">
		<table style="width:65%; table-layout:fixed; float:left">
			<caption>
				<h3>Life Path</h3>
			</caption>
			<tr>
				<td>Affiliation:</td>
				<td>{{localize system.lifepath.affiliation}}</td>
				<td>
					<select id="affiliation-select" onfocus="this.selectedIndex = -1;">
						<option value="liao">Capellan Confederation (House Liao)</option>
						<option value="kurita">Draconis Combine (House Kurita)</option>
						<option value="davion">Federated Suns (House Davion)</option>
						<option value="marik">Free Worlds League (House Marik)</option>
						<option value="steiner">Lyran Alliance (House Steiner)</option>
						<option value="rasalhague">Free Rasalhague Republic</option>
						<option value="minor_periphery">Minor Periphery</option>
						<option value="major_periphery">Major Periphery State</option>
						<option value="deep_periphery">Deep Periphery</option>
						<option value="terran">Terran</option>
						<option value="independent">Independent</option>
						<option value="comstar">ComStar/Word of Blake</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Sub-affiliation:</td>
				<td>{{localize system.lifepath.subaffiliation}}</td>
				<td>
					{{#unless (eq system.lifepath.affiliation undefined)}}
					<select id="subaffiliation-select" onfocus="this.selectedIndex = -1;">
					{{#if (eq system.lifepath.affiliation "liao")}}
						<option value="capellan_com">Capellan Commonality</option>
						<option value="liao_com">Liao Commonality</option>
						<option value="sian_com">Sian Commonality</option>
						<option value="stives_com">St. Ives Commonality</option>
						<option value="victoria_com">Victoria Commonality</option>
					{{else if (eq system.lifepath.affiliation "kurita")}}
						<option value="azami">Azami</option>
						<option value="benjamin">Benjamin District</option>
						<option value="dieron">Dieron District</option>
						<option value="galedon">New Samarkand (Galedon) District</option>
						<option value="pesht">Pesht District</option>
					{{else if (eq system.lifepath.affiliation "major_periphery")}}
						<option value="aurigan">Aurigan Coalition</option>
						<option value="circinus">Circinus Federation</option>
						<option value="magistracy">Magistracy of Canopus</option>
						<option value="marian">Marian Hegemony</option>
						<option value="outworlds">Outworlds Alliance</option>
						<option value="taurian">Taurian Concordat</option>
					{{/if}}
					</select>
					{{/unless}}
				</td>
			</tr>
			<tr>
				<td>Early childhood:</td>
				<td>{{localize system.lifepath.early_childhood}}</td>
			</tr>
			<tr>
				<td>Late childhood:</td>
				<td>{{localize system.lifepath.late_childhood}}</td>
			</tr>
			<tr>
				<td>Schooling:</td>
				<td>
					<table>
					{{#each system.lifepath.schooling as |schooling key|}}
						<tr><td>{{key}}</td></tr>
					{{/each}}
					</table>
				</td>
			</tr>
			<tr>
				<td>Adult life:</td>
				<td>
					<table>
					{{#each system.lifepath.adult_life as |life key|}}
						<tr><td>{{key}}</td></tr>
					{{/each}}
					</table>
				</td>
			</tr>
		</table>
		
		<img style="width:240px; height:240px; float:right;" id="lifepath-img" name="lifepath-img" src="{{system.lifepath.img}}" />
	</div>

	<table style="width:100%; table-layout:fixed;">
		<caption>
			<h3>Traits</h3>
		</caption>
		<thead>
			<tr>
				<th style="width:4.09%"></th>
				<th style="width:17%">Name</th>
				<th style="width:17%"><!--Subtitle--></th>
				<th style="width:5%">Level</th>
				<th style="width:44.91%">Description</th>
				<th style="width:4%">XP Until Next</th>
				<th style="width:8%"></th>
			</tr>
		</thead>
		<tbody>
			{{#each system.traits as |trait key|}}
			<tr>
				<td>
					<input id="{{trait.id}}" class="trait-to-chat" type="button" img="./assets/trait.png" />
				</td>
				<td>
					{{localize trait.name}}
				</td>
				<td>
					{{#if (in trait.name 'alternate_id' 'bloodmark' 'citizenship' 'compulsion' 'connections' 'custom_vehicle' 'dark_secret' 'dependents' 'design_quirk' 'enemy' 'exceptional_attribute' 'extra income' 'implant_prosthetic' 'in_for_life' 'lost_limb' 'natural_aptitude' 'property' 'rank' 'reputation' 'title' 'vehicle')}}
					<textarea class="modify-trait-component" type="text" value="{{trait.subtitle}}" data-traitid="{{trait.id}}@subtitle" placeholder="Enter a trait type/subtitle here">{{trait.subtitle}}</textarea>
					{{/if}}
				</td>
				<td style="text-align:center">
					{{trait.level}}
				</td>
				<td>
					<textarea class="modify-trait-component" type="text" value="{{trait.description}}" data-traitid="{{trait.id}}@description" placeholder="Enter a trait description here" contenteditable="true" style="max-width:100%">{{trait.description}}</textarea>
				</td>
				<td style="text-align:center">
					{{calcXPForNextTP trait.xp}}
				</td>
				<td>
					<input type="button" id="{{trait.id}}-delete" class="delete-trait" value="Delete" />
				</td>
			</tr>
			{{/each}}
			<tr>
				<td></td>
				<td><!-- style="text-align:right; padding-right:5px; font-style:bold;">-->
					<input type="button" id="add-new-trait" value="Add New Trait" />
				</td>
				<td>
					<select id="new-trait-selector" onfocus="this.selectedIndex = -1;">
						<option value="alternate_id">Alternate ID</option>
						<option value="ambidextrous">Ambidextrous</option>
						<option value="animal_empathy">Animal Empathy</option>
						<option value="attractive">Attractive</option>
						<option value="citizenship">Citizenship</option>
						<option value="combat_sense">Combat Sense</option>
						<option value="connections">Connections</option>
						<option value="exceptional_attribute">Exceptional Attribute</option>
						<!--<option value="fast_learner">Fast Learner</option>-->
						<option value="fit">Fit</option>
						<option value="g_tolerance">G-Tolerance</option>
						<option value="good_hearing">Good Hearing</option>
						<option value="good_vision">Good Vision</option>
						<option value="gregarious">Gregarious</option>
						<option value="implant_prosthetic">Implant/Prosthetic</option>
						<option value="natural_aptitude">Natural Aptitude</option>
						<option value="pain_resistance">Pain Resistance</option>
						<option value="patient">Patient</option>
						<!--<option value="phenotype">asdf</option>-->
						<option value="poison_resistance">Poison Resistance</option>
						<option value="property">Property</option>
						<option value="rank">Rank</option>
						<option value="sixth_sense">Sixth Sense</option>
						<option value="tech_empathy">Tech Empathy</option>
						<option value="thick_skinned">Thick-Skinned</option>
						<option value="title">Title/Bloodname</option>
						<option value="toughness">Toughness</option>
						<option value="equipped">Equipped</option>
						<option value="extra_income">Extra Income</option>
						<option value="reputation">Reputation</option>
						<option value="wealth">Wealth</option>
						<option value="vehicle">Vehicle Level</option>
						<option value="custom_vehicle">Custom Vehicle</option>
						<option value="design_quirk">Design Quirk</option>
						<option value="animal_antipathy">Animal Antipathy
						<option value="bloodmark">Bloodmark</option>
						<option value="combat_paralysis">Combat Paralysis</option>
						<option value="compulsion">Compulsion</option>
						<option value="dark_secret">Dark Secret</option>
						<option value="dependent">Dependent</option>
						<option value="enemy">Enemy</option>
						<option value="glass_jaw">Glass Jaw</option>
						<option value="gremlins">Gremlins</option>
						<option value="handicap">Handicap</option>
						<option value="illiterate">Illiterate</option>
						<option value="impatient">Impatient</option>
						<option value="in_for_life">In For Life</option>
						<option value="introvert">Introvert</option>
						<option value="lost_limb">Lost Limb</option>
						<option value="poor_hearing">Poor Hearing</option>
						<option value="poor_vision">Poor Vision</option>
						<!--<option value="slow_learner">Slow Learner</option>-->
						<option value="thin_skinned">Thin-Skinned</option>
						<option value="tds">Transit Disorientation Syndrome (TDS)</option>
						<option value="unattractive">Unattractive</option>
						<option value="unlucky">Unlucky</option>
					</select>
				</td>
				<td></td>
				<td>
					
				</td>
			</tr>
		</tbody>
	</table>
</div>