<div class="armour-diagram">
	<h3>Armour</h3>
	<table>
		<tr>
			<td></td>
			<td>
				<h4>Rear Left Torso ({{system.locations.mech.rear_l.armour.value}}/{{system.locations.mech.rear_l.armour.max}})</h4>
				<div style="width:82px; height:66px; border:1px solid black;">
					{{#loop (minus system.locations.mech.rear_l.armour.max system.locations.mech.rear_l.armour.value)}}
					<img class="clickable circle-filled-armour circle-armour" data-for="mech-rear_l-armour" />
					{{/loop}}
					{{#loop system.locations.mech.rear_l.armour.value}}
						<img class="clickable circle-blank-armour circle-armour" data-for="mech-rear_l-armour" />
					{{/loop}}
				</div>
			</td>
			<td>
				<h4>Head ({{system.locations.mech.head.armour.value}}/{{system.locations.mech.head.armour.max}})</h4>
				<div style="width:82px; height:66px; border:1px solid black;">
					{{#loop (minus system.locations.mech.head.armour.max system.locations.mech.head.armour.value)}}
					<img class="clickable circle-filled-armour circle-armour" data-for="mech-head-armour" />
					{{/loop}}
					{{#loop system.locations.mech.head.armour.value}}
						<img class="clickable circle-blank-armour circle-armour" data-for="mech-head-armour" />
					{{/loop}}
				</div>
			</td>
			<td>
				<h4>Rear Right Torso ({{system.locations.mech.rear_r.armour.value}}/{{system.locations.mech.rear_r.armour.max}})</h4>
				<div style="width:82px; height:66px; border:1px solid black;">
					{{#loop (minus system.locations.mech.rear_r.armour.max system.locations.mech.rear_r.armour.value)}}
					<img class="clickable circle-filled-armour circle-armour" data-for="mech-rear_r-armour" />
					{{/loop}}
					{{#loop system.locations.mech.rear_r.armour.value}}
						<img class="clickable circle-blank-armour circle-armour" data-for="mech-rear_r-armour" />
					{{/loop}}
				</div>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>
				<h4>Left Arm ({{system.locations.mech.arm_l.armour.value}}/{{system.locations.mech.arm_l.armour.max}})</h4>
				<div style="width:82px; height:66px; border:1px solid black;">
					{{#loop (minus system.locations.mech.arm_l.armour.max system.locations.mech.arm_l.armour.value)}}
					<img class="clickable circle-filled-armour circle-armour" data-for="mech-arm_l-armour" />
					{{/loop}}
					{{#loop system.locations.mech.arm_l.armour.value}}
						<img class="clickable circle-blank-armour circle-armour" data-for="mech-arm_l-armour" />
					{{/loop}}
				</div>
			</td>
			<td>
				<h4>Left Torso ({{system.locations.mech.torso_l.armour.value}}/{{system.locations.mech.torso_l.armour.max}})</h4>
				<div style="width:82px; height:66px; border:1px solid black;">
					{{#loop (minus system.locations.mech.torso_l.armour.max system.locations.mech.torso_l.armour.value)}}
					<img class="clickable circle-filled-armour circle-armour" data-for="mech-torso_l-armour" />
					{{/loop}}
					{{#loop system.locations.mech.torso_l.armour.value}}
						<img class="clickable circle-blank-armour circle-armour" data-for="mech-torso_l-armour" />
					{{/loop}}
				</div>
			</td>
			<td>
				<h4>Centre Torso ({{system.locations.mech.torso_c.armour.value}}/{{system.locations.mech.torso_c.armour.max}})</h4>
				<div style="width:82px; height:66px; border:1px solid black;">
					{{#loop (minus system.locations.mech.torso_c.armour.max system.locations.mech.torso_c.armour.value)}}
					<img class="clickable circle-filled-armour circle-armour" data-for="mech-torso_c-armour" />
					{{/loop}}
					{{#loop system.locations.mech.torso_c.armour.value}}
						<img class="clickable circle-blank-armour circle-armour" data-for="mech-torso_c-armour" />
					{{/loop}}
				</div>
			</td>
			<td>
				<h4>Right Torso ({{system.locations.mech.torso_r.armour.value}}/{{system.locations.mech.torso_r.armour.max}})</h4>
				<div style="width:82px; height:66px; border:1px solid black;">
					{{#loop (minus system.locations.mech.torso_r.armour.max system.locations.mech.torso_r.armour.value)}}
					<img class="clickable circle-filled-armour circle-armour" data-for="mech-torso_r-armour" />
					{{/loop}}
					{{#loop system.locations.mech.torso_r.armour.value}}
						<img class="clickable circle-blank-armour circle-armour" data-for="mech-torso_r-armour" />
					{{/loop}}
				</div>
			</td>
			<td>
				<h4>Right Arm ({{system.locations.mech.arm_r.armour.value}}/{{system.locations.mech.arm_r.armour.max}})</h4>
				<div style="width:82px; height:66px; border:1px solid black;">
					{{#loop (minus system.locations.mech.arm_r.armour.max system.locations.mech.arm_r.armour.value)}}
					<img class="clickable circle-filled-armour circle-armour" data-for="mech-arm_r-armour" />
					{{/loop}}
					{{#loop system.locations.mech.arm_r.armour.value}}
						<img class="clickable circle-blank-armour circle-armour" data-for="mech-arm_r-armour" />
					{{/loop}}
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<h4>Left Leg ({{system.locations.mech.leg_l.armour.value}}/{{system.locations.mech.leg_l.armour.max}})</h4>
				<div style="width:82px; height:66px; border:1px solid black;">
					{{#loop (minus system.locations.mech.leg_l.armour.max system.locations.mech.leg_l.armour.value)}}
					<img class="clickable circle-filled-armour circle-armour" data-for="mech-leg_l-armour" />
					{{/loop}}
					{{#loop system.locations.mech.leg_l.armour.value}}
						<img class="clickable circle-blank-armour circle-armour" data-for="mech-leg_l-armour" />
					{{/loop}}
				</div>
			</td>
			<td></td>
			<td>
				<h4>Rear Torso ({{system.locations.mech.rear_c.armour.value}}/{{system.locations.mech.rear_c.armour.max}})</h4>
				<div style="width:82px; height:66px; border:1px solid black;">
					{{#loop (minus system.locations.mech.rear_c.armour.max system.locations.mech.rear_c.armour.value)}}
					<img class="clickable circle-filled-armour circle-armour" data-for="mech-rear_c-armour" />
					{{/loop}}
					{{#loop system.locations.mech.rear_c.armour.value}}
						<img class="clickable circle-blank-armour circle-armour" data-for="mech-rear_c-armour" />
					{{/loop}}
				</div>
			</td>
			<td></td>
			<td>
				<h4>Right Leg ({{system.locations.mech.leg_r.armour.value}}/{{system.locations.mech.leg_r.armour.max}})</h4>
				<div style="width:82px; height:66px; border:1px solid black;">
					{{#loop (minus system.locations.mech.leg_r.armour.max system.locations.mech.leg_r.armour.value)}}
					<img class="clickable circle-filled-armour circle-armour" data-for="mech-leg_r-armour" />
					{{/loop}}
					{{#loop system.locations.mech.leg_r.armour.value}}
						<img class="clickable circle-blank-armour circle-armour" data-for="mech-leg_r-armour" />
					{{/loop}}
				</div>
			</td>
		</tr>
	</table>
	<h3>Internal Structure</h3>
	<table>
		<tr>
			<td></td>
			<td></td>
			<td>
				<h4>Head ({{system.locations.mech.head.structure.value}}/{{system.locations.mech.head.structure.max}})</h4>
				<div style="width:82px; height:66px; border:1px solid black;">
					{{#loop (minus system.locations.mech.head.structure.max system.locations.mech.head.structure.value)}}
					<img class="clickable circle-filled-structure circle-structure" data-for="mech-head-structure" />
					{{/loop}}
					{{#loop system.locations.mech.head.structure.value}}
						<img class="clickable circle-blank-structure circle-structure" data-for="mech-head-structure" />
					{{/loop}}
				</div>
			</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>
				<h4>Left Arm ({{system.locations.mech.arm_l.structure.value}}/{{system.locations.mech.arm_l.structure.max}})</h4>
				<div style="width:82px; height:66px; border:1px solid black;">
					{{#loop (minus system.locations.mech.arm_l.structure.max system.locations.mech.arm_l.structure.value)}}
					<img class="clickable circle-filled-structure circle-structure" data-for="mech-arm_l-structure" />
					{{/loop}}
					{{#loop system.locations.mech.arm_l.structure.value}}
						<img class="clickable circle-blank-structure circle-structure" data-for="mech-arm_l-structure" />
					{{/loop}}
				</div>
			</td>
			<td>
				<h4>Left Torso ({{system.locations.mech.torso_l.structure.value}}/{{system.locations.mech.torso_l.structure.max}})</h4>
				<div style="width:82px; height:66px; border:1px solid black;">
					{{#loop (minus system.locations.mech.torso_l.structure.max system.locations.mech.torso_l.structure.value)}}
					<img class="clickable circle-filled-structure circle-structure" data-for="mech-torso_l-structure" />
					{{/loop}}
					{{#loop system.locations.mech.torso_l.structure.value}}
						<img class="clickable circle-blank-structure circle-structure" data-for="mech-torso_l-structure" />
					{{/loop}}
				</div>
			</td>
			<td>
				<h4>Center Torso ({{system.locations.mech.torso_c.structure.value}}/{{system.locations.mech.torso_c.structure.max}})</h4>
				<div style="width:82px; height:66px; border:1px solid black;">
					{{#loop (minus system.locations.mech.torso_c.structure.max system.locations.mech.torso_c.structure.value)}}
					<img class="clickable circle-filled-structure circle-structure" data-for="mech-torso_c-structure" />
					{{/loop}}
					{{#loop system.locations.mech.torso_c.structure.value}}
						<img class="clickable circle-blank-structure circle-structure" data-for="mech-torso_c-structure" />
					{{/loop}}
				</div>
			</td>
			<td>
				<h4>Right Torso ({{system.locations.mech.torso_r.structure.value}}/{{system.locations.mech.torso_r.structure.max}})</h4>
				<div style="width:82px; height:66px; border:1px solid black;">
					{{#loop (minus system.locations.mech.torso_r.structure.max system.locations.mech.torso_r.structure.value)}}
					<img class="clickable circle-filled-structure circle-structure" data-for="mech-torso_r-structure" />
					{{/loop}}
					{{#loop system.locations.mech.torso_r.structure.value}}
						<img class="clickable circle-blank-structure circle-structure" data-for="mech-torso_r-structure" />
					{{/loop}}
				</div>
			</td>
			<td>
				<h4>Right Arm ({{system.locations.mech.arm_r.structure.value}}/{{system.locations.mech.arm_r.structure.max}})</h4>
				<div style="width:82px; height:66px; border:1px solid black;">
					{{#loop (minus system.locations.mech.arm_r.structure.max system.locations.mech.arm_r.structure.value)}}
					<img class="clickable circle-filled-structure circle-structure" data-for="mech-arm_r-structure" />
					{{/loop}}
					{{#loop system.locations.mech.arm_r.structure.value}}
						<img class="clickable circle-blank-structure circle-structure" data-for="mech-arm_r-structure" />
					{{/loop}}
				</div>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<h4>Left Leg ({{system.locations.mech.leg_l.structure.value}}/{{system.locations.mech.leg_l.structure.max}})</h4>
				<div style="width:82px; height:66px; border:1px solid black;">
					{{#loop (minus system.locations.mech.leg_l.structure.max system.locations.mech.leg_l.structure.value)}}
					<img class="clickable circle-filled-structure circle-structure" data-for="mech-leg_l-structure" />
					{{/loop}}
					{{#loop system.locations.mech.leg_l.structure.value}}
						<img class="clickable circle-blank-structure circle-structure" data-for="mech-leg_l-structure" />
					{{/loop}}
				</div>
			</td>
			<td></td>
			<td>
				<h4>Right Leg ({{system.locations.mech.leg_r.structure.value}}/{{system.locations.mech.leg_r.structure.max}})</h4>
				<div style="width:82px; height:66px; border:1px solid black;">
					{{#loop (minus system.locations.mech.leg_r.structure.max system.locations.mech.leg_r.structure.value)}}
					<img class="clickable circle-filled-structure circle-structure" data-for="mech-leg_r-structure" />
					{{/loop}}
					{{#loop system.locations.mech.leg_r.structure.value}}
						<img class="clickable circle-blank-structure circle-structure" data-for="mech-leg_r-structure" />
					{{/loop}}
				</div>
			</td>
			<td></td>
		</tr>
	</table>
</div>