<td style="width:50%"> <!-- Armour -->
	<h3>Armour</h3>
	<table>
	{{#each system.locations as |loc key|}}
		{{#if (eq @root.system.type @key)}}
		
		{{#if (eq @root.system.type "mech")}}
			<tr> <!-- Top row -->
				<td></td>
				{{#each loc as |location key|}}
				{{#if (in key "rear_l" "head" "rear_r")}}
				<td>
					<h10>{{localize key}} ({{location.armour.value}}/{{location.armour.assigned}})</h10>
					<div style="width:52px; height:42px; border:1px solid black;">
					{{#loop location.armour.assigned}}
						{{#if (le (minus location.armour.assigned location.armour.value) @index)}}
						<img class="clickable circle-blank-armour circle-armour" data-for="mech-{{key}}-armour" id="{{minus location.armour.assigned (plus @index 1)}}" />
						{{else}}
						<img class="clickable circle-filled-armour circle-armour" data-for="mech-{{key}}-armour" id="{{minus location.armour.assigned (plus @index 1)}}" />
						{{/if}}
					{{/loop}}
					</div>
				</td>
				{{/if}}
				{{/each}}
				<td></td>
			</tr>
			
			<tr> <!-- Centre row -->
			{{#each loc as |location key|}}
			{{#if (in key "arm_l" "torso_l" "torso_c" "torso_r" "arm_r")}}
				<td>
					<h10>{{localize key}} ({{location.armour.value}}/{{location.armour.assigned}})</h10>
					<div style="width:52px; height:42px; border:1px solid black;">
					{{#loop location.armour.assigned}}
						{{#if (le (minus location.armour.assigned location.armour.value) @index)}}
						<img class="clickable circle-blank-armour circle-armour" data-for="mech-{{key}}-armour" id="{{minus location.armour.assigned (plus @index 1)}}" />
						{{else}}
						<img class="clickable circle-filled-armour circle-armour" data-for="mech-{{key}}-armour" id="{{minus location.armour.assigned (plus @index 1)}}" />
						{{/if}}
					{{/loop}}
					</div>
				</td>
			{{/if}}
			{{/each}}
			</tr>
			
			<tr> <!-- Bottom row -->
				<td></td>
				{{#each loc as |location key|}}
				{{#if (in key "leg_l" "rear_c" "leg_r")}}
				<td>
					<h10>{{localize key}} ({{location.armour.value}}/{{location.armour.assigned}})</h10>
					<div style="width:52px; height:42px; border:1px solid black;">
					{{#loop location.armour.assigned}}
						{{#if (le (minus location.armour.assigned location.armour.value) @index)}}
						<img class="clickable circle-blank-armour circle-armour" data-for="mech-{{key}}-armour" id="{{minus location.armour.assigned (plus @index 1)}}" />
						{{else}}
						<img class="clickable circle-filled-armour circle-armour" data-for="mech-{{key}}-armour" id="{{minus location.armour.assigned (plus @index 1)}}" />
						{{/if}}
					{{/loop}}
					</div>
				</td>
				{{/if}}
				{{/each}}
				<td></td>
			</tr>
		{{else}}
			non-mechs not implemented yet
		{{/if}}
			
		{{/if}}
	{{/each}}
	</table>
</td>
<td style="width:50%"> <!-- Structure -->
	<h3>Internal Structure</h3>
	<table>
	{{#each system.locations as |loc key|}}
		{{#if (eq @root.system.type @key)}}
		
		{{#if (eq @root.system.type "mech")}}
			<tr> <!-- Top row -->
				<td></td>
				<td></td>
				{{#each loc as |location key|}}
				{{#if (in key "head")}}
				<td>
					<h10>{{localize key}} ({{location.structure.value}}/{{location.structure.max}})</h10>
					<div style="width:52px; height:42px; border:1px solid black;">
					{{#loop location.structure.max}}
						{{#if (le (minus location.structure.max location.structure.value) @index)}}
						<img class="clickable circle-blank-structure circle-structure" data-for="mech-{{key}}-structure" id="{{minus location.structure.max (plus @index 1)}}" />
						{{else}}
						<img class="clickable circle-filled-structure circle-structure" data-for="mech-{{key}}-structure" id="{{minus location.structure.max (plus @index 1)}}" />
						{{/if}}
					{{/loop}}
					</div>
				</td>
				{{/if}}
				{{/each}}
				<td></td>
				<td></td>
			</tr>
			
			<tr> <!-- Centre row -->
			{{#each loc as |location key|}}
			{{#if (in key "arm_l" "torso_l" "torso_c" "torso_r" "arm_r")}}
				<td>
					<h10>{{localize key}} ({{location.structure.value}}/{{location.structure.max}})</h10>
					<div style="width:52px; height:42px; border:1px solid black;">
					{{#loop location.structure.max}}
						{{#if (le (minus location.structure.max location.structure.value) @index)}}
						<img class="clickable circle-blank-structure circle-structure" data-for="mech-{{key}}-structure" id="{{minus location.structure.max (plus @index 1)}}" />
						{{else}}
						<img class="clickable circle-filled-structure circle-structure" data-for="mech-{{key}}-structure" id="{{minus location.structure.max (plus @index 1)}}" />
						{{/if}}
					{{/loop}}
					</div>
				</td>
			{{/if}}
			{{/each}}
			</tr>
			
			<tr> <!-- Bottom row -->
				<td></td>
				{{#each loc as |location key|}}
				{{#if (in key "leg_l" "leg_r")}}
				<td>
					<h10>{{localize key}} ({{location.structure.value}}/{{location.structure.max}})</h10>
					<div style="width:52px; height:42px; border:1px solid black;">
					{{#loop location.structure.max}}
						{{#if (le (minus location.structure.max location.structure.value) @index)}}
						<img class="clickable circle-blank-structure circle-structure" data-for="mech-{{key}}-structure" id="{{minus location.structure.max (plus @index 1)}}" />
						{{else}}
						<img class="clickable circle-filled-structure circle-structure" data-for="mech-{{key}}-structure" id="{{minus location.structure.max (plus @index 1)}}" />
						{{/if}}
					{{/loop}}
					</div>
				</td>
				<td></td>
				{{/if}}
				{{/each}}
			</tr>
		{{else}}
			non-mechs not implemented yet
		{{/if}}
			
		{{/if}}
	{{/each}}
	</table>
</td>