<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
	<header class="sheet-header" >
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" style="height:125px !important; width:125px !important;"/>
		<div class="header-fields">
			<h1 class="charname">
				<input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
			</h1>
			<table>
				<tr>
					<td style="width:50px"></td>
					<td class="resource-label">Damage</td>
					<td>
						<input style="width:20px; text-align:center;" type="number" value="{{system.damage.value}}" name="system.damage.value" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
						/{{system.healthmax}}</td>
					<td class="resource-label">Tough:</td>
					<td>
						<input type="checkbox" {{#if system.tough}}checked{{/if}} name="system.tough" id="set-max-type" />
					</td>
					<td style="width:50px"></td>
					<td class="resource-label">Fatigue</td>
					<td>
						<input style="width:20px; text-align:center;" type="number" value="{{system.fatigue.value}}" name="system.fatigue.value" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
						/{{system.fatiguemax}}</td>
					<td class="resource-label">Fit:</td>
					<td>
						<input type="checkbox" {{#if system.fit}}checked{{/if}} name="system.fit" id="set-max-type" />
					</td>
					<td style="width:50px"></td>
				</tr>
			</table>
			<table>
				<tr>
					<th>Walk</th>
					<th>Run</th>
					<th>Sprint</th>
					<th>Climb</th>
					<th>Swim</th>
					<th>Crawl</th>
				</tr>
				<tr style="text-align:center;">
				{{#each system.mp as |speed key|}}
					<td>{{speed}}</td>
				{{/each}}
				</tr>
			</table>
		</div>
	</header>
	
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="gameplay">Gameplay</a>
		<a class="item" data-tab="equipment">Equipment</a>
		<a class="item" data-tab="character">Character</a>
	</nav>
	
	<section class="sheet-body">
	
		<div class="tab gameplay" data-group="primary" data-tab="gameplay">
			{{> "systems/a-time-of-war/templates/actor/parts/PersonActorGameplayNPC.hbs"}}
		</div>
		
		<div class="tab equipment" data-group="primary" data-tab="equipment">
			{{> "systems/a-time-of-war/templates/actor/parts/PersonActorEquipment.hbs"}}
		</div>
		
		<div class="tab character" data-group="primary" data-tab="character">
			{{> "systems/a-time-of-war/templates/actor/parts/PersonActorCharacterNPC.hbs"}}
		</div>
		
	</section>
</form>