<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
	<header class="sheet-header">
		<div class="header-fields">
			<table>
				<tr>
					<td>
						<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
					</td>
					<td>
						<table>
							<tr>
								<h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
							</tr>
							<tr>
								<td>
									<span class="resource-label">Vehicle Type:</span>
									<select id="vehicle-type" onfocus="this.selectedIndex = -1;">
										<option value="ground">Ground</option>
										<option value="rail">Rail</option>
										<option value="sea">Sea</option>
										<option value="aerospace">AeroSpace</option>
										<option value="air">Air</option>
										<option value="battlesuit">Battlesuit</option>
										<option value="mech">'Mech</option>
										<option value="spacecraft">Spacecraft</option>
									</select>
								</td>
								<td>
									<div class="flexrow">
										<span class="resource-label">Tonnage:</span>
										<input type="number" name="system.tonnage" id="vehicle-tonnage" value="{{system.tonnage}}" placeholder="Enter tonnage..." />
										<span class="resource-label">T</span>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<table>
										<tr>
											<td>
												<span class="resource-label">{{#if (eq system.type "mech")}}Walk{{else}}Cruise{{/if}} Speed: </span>{{system.mp.walk}}
											</td>
											<td>
												<span class="resource-label">{{#if (eq system.type "mech")}}Run{{else}}Flank{{/if}} Speed: </span>{{system.mp.run}}
											</td>
											{{#if (eq system.type "mech")}}
											<td>
												<span class="resource-label">Jump Speed: </span>{{system.mp.jump}}
											</td>
											{{/if}}
										</tr>
									</table>
								</td>
								<td>
									<span class="resource-label">Class: </span>{{system.details.class}}
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table style="">
				<tr>
					<td style="width:50%">
						<table>
							<tr>
								<th>
									<table>
										<tr>
											<th class="resource-label">Pilot:</th>
											<th>
												<input class="droppable-actors pilot-uuid" id="pilot-real" style="display:block" placeholder="Drop an actor here to pilot the vehicle..." value="{{system.pilot}}" />
												<input class="droppable-actors pilot-uuid" id="pilot-fake" style="display:none" />
											</th>
										</tr>
										<tr>
											<td>
												<input type="image" id="refresh-pilot" src="systems/a-time-of-war/icons/refresh.png" style="width:24px; height:24px" />
											</td>
											<td>
												<input type="button" id="delete-pilot" class="clickable" value="X" />
											</td>
										</tr>
									</table>
								</th>
								<th>
									<img id="pilot-fake-img" style="display:none; width:135px; height:135px;" />
								</th>
							</tr>
						</table>
						<table style="text-align:center; font-size:10px">
							<tr>
								<th class="rollable" data-rolltype="skill" data-for="gunnery">Gunnery</th>
								<th class="rollable" data-rolltype="skill" data-for="piloting">Piloting</th>
								<th class="rollable" data-rolltype="skill" data-for="perception">Perception</th>
								<th class="rollable" data-rolltype="skill" data-for="sensorops">Sensor Ops</th>
								<th class="rollable" data-rolltype="skill" data-for="computers">Computers</th>
								<th class="rollable" data-rolltype="skill" data-for="comms">Comms</th>
							</tr>
							<tr>
								<td class="rollable" data-rolltype="skill" data-for="gunnery">{{system.pilot_skills.gunnery}}</td>
								<td class="rollable" data-rolltype="skill" data-for="piloting">{{system.pilot_skills.piloting}}</td>
								<td class="rollable" data-rolltype="skill" data-for="perception">{{system.pilot_skills.perception}}</td>
								<td class="rollable" data-rolltype="skill" data-for="sensorops">{{system.pilot_skills.sensorops}}</td>
								<td class="rollable" data-rolltype="skill" data-for="computers">{{system.pilot_skills.computers}}</td>
								<td class="rollable" data-rolltype="skill" data-for="comms">{{system.pilot_skills.comms}}</td>
							</tr>
						</table>
					</td>
					<td style="width:50%">
						<!--Vehicle details-->
						<table style="font-size:10.5px;">
							<tr><td>
								<span class="resource-label">Model:</span>
							</td><td>
								<input style="height:100%" type="number" name="system.details.model" value="{{system.details.model}}" />
							</td></tr>
							<tr><td>
								<span class="resource-label">Chassis:</span>
							</td><td>
								<input style="height:100%" type="number" name="system.details.chassis" value="{{system.details.chassis}}" />
							</td></tr>
							<tr><td>
								<span class="resource-label">Manufacturer:</span>
							</td><td>
								<input style="height:100%" type="number" name="system.details.manufacturer" value="{{system.details.manufacturer}}" />
							</td></tr>
							<tr><td>
								<span class="resource-label">Factory:</span>
							</td><td>
								<input style="height:100%" type="number" name="system.details.factory" value="{{system.details.factory}}" />
							</td></tr>
							<tr><td>
								<span class="resource-label">Production Year:</span>
							</td><td>
								<input style="height:100%" type="number" name="system.details.production_year" value="{{system.details.production_year}}" />
							</td></tr>
							<tr><td>
								<span class="resource-label">Engine:</span>
							</td><td>
								<input style="height:100%" type="text" name="system.details.engine" value="{{system.details.engine}}" />
							</td></tr>
							<tr><td>
								<span class="resource-label">Armour:</span>
							</td><td>
								<input style="height:100%" type="text" name="system.details.armour" value="{{system.details.armour}}" />
							</td></tr>
							<tr><td>
								<span class="resource-label">Communications:</span>
							</td><td>
								<input style="height:100%" type="text" name="system.details.communications" value="{{system.details.communications}}" />
							</td></tr>
							<tr><td>
								<span class="resource-label">Targeting:</span>
							</td><td>
								<input style="height:100%" type="text" name="system.details.targeting" value="{{system.details.targeting}}" />
							</td></tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</header>
	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
	{{!-- Default tab is specified in actor-sheet.mjs --}}

	<a class="item" data-tab="gameplay">Gameplay</a>
	<a class="item" data-tab="mechlab">MechLab</a>
	<a class="item" data-tab="options">Options</a>

	</nav>
	<section class="sheet-body">
		<div class="tab gameplay" data-group="primary" data-tab="gameplay">
			<table>
				<tr>
					<td>
						<table>
							<tr>
								<td>
									{{> "systems/a-time-of-war/templates/actor/parts/VehicleActorManifest.hbs"}}
								</td>
							</tr>
							<tr class="armour-diagram">
								{{> "systems/a-time-of-war/templates/actor/parts/VehicleActorArmourDiagram.hbs"}}
							</tr>
						</table>
					</td>
					<td style="vertical-align:top;">
						{{> "systems/a-time-of-war/templates/actor/parts/VehicleActorHeatGauge.hbs"}}
					</td>
				</tr>
			</table>
		</div>
		<div class="tab mechlab" data-group="primary" data-tab="mechlab">
			{{> "systems/a-time-of-war/templates/actor/parts/VehicleActorMechlab.hbs"}}
		</div>
	</section>
</form>