<div class="bt-trait">
	<div style="height:20px">
		<h3>{{speaker}}</h3>
	</div>
	<span style="font-style:italic; font-size:11.5px">
		{{flavour}}
	</span>
	<br>
	<h3 style="font-size:13.5px; font-weight:bold">{{localize name}}
	{{#unless (eq subtitle "")}}
	<span style="font-size:13px !important;font-style:italic; font-weight:normal !important">{{subtitle}}</span>
	{{/unless}}
	<span style="float:right;">{{level}}</span>
	</h3>
	{{description}}
</div>