<div class="bt-trait">
	<div style="height:20px">
		<h3>{{speaker}}</h3>
	</div>
	<span style="font-style:italic; font-size:11.5px">
		{{flavour}}
	</span>
	<br>
	<h3 style="font-size:16px;">{{localize name}}</h3>
	{{#unless (eq subtitle "")}}<h3 style="font-size:12px; font-style:italic;">{{subtitle}}</h3>{{/unless}}
	{{description}}
</div>