<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">
	<header class="sheet-header">
		<div class="header-fields">
			<table>
				<tr>
					{{#if (in item.system.type "affiliation" "subaffiliation")}}
					<td>
						<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100"/>
					</td>
					{{/if}}
					<td>
						<table>
							<tr>
								<h1 class="charname">
									<input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
								</h1>
							</tr>
							<tr>
								<td>
									<span class="resource-label">Type:</span>
								</td>
								<td>
									<select id="module-type" onFocus="this.selectedIndex = -1;">
										<option data-for="0" value="affiliation">{{localize "affiliation"}}</option>
										<option data-for="1" value="subaffiliation">{{localize "subaffiliation"}}</option>
										<option data-for="2" value="early_childhood">{{localize "early_childhood"}}</option>
										<option data-for="3" value="late_childhood">{{localize "late_childhood"}}</option>
										<option data-for="4" value="schooling">{{localize "schooling"}}</option>
										<option data-for="5" value="adult_life">{{localize "adult_life"}}</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>
									<span class="resource-label">Cost: </span>{{item.system.cost}}
								</td>
							</tr>
							<tr>
								<td>
									<span class="resource-label">Flex: </span>
								</td>
								<td>
									<textarea id="flex" placeholder="Enter flexible XPs here...">{{item.system.flex}}</textarea>
								</td>
							</tr>
							<tr>
								<td>
									<span class="resource-label">Prerequisites: </span>
								</td>
								<td>
									<textarea id="prereq" placeholder="Enter any prerequisites here...">{{item.system.prereqs}}</textarea>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</header>
	<body>
		<textarea id="description" value="{{item.system.description}}" placeholder="Enter description here...">{{item.system.description}}</textarea>
		<br>
		<table>
			<caption>
				<h10>Attributes</h10>
			</caption>
			<tr>
				<th>Name</th>
				<th>Subtitle</th>
				<th>XP</th>
				<th>
					<input type="button" value="Add New" class="add" id="attribute" onclick="$('#select-attribute').selectedIndex = -1;" />
					<select id="select-attribute" onFocus="this.selectedIndex = -1;">
						{{#unless (in item.system.attributes str)}}<option value="str">STR</option>{{/unless}}
						<option value="bod">BOD</option>
						<option value="rfl">RFL</option>
						<option value="dex">DEX</option>
						<option value="wil">WIL</option>
						<option value="int">INT</option>
						<option value="cha">CHA</option>
						<option value="edg">EDG</option>
					</select>
				</th>
			</tr>
			{{#each item.system.attributes as |data|}}
			<tr>
				<td>{{localize data.name}}</td>
				<td></td>
				<td>
					<input type="number" value="{{data.xp}}" class="xp" id="attribute@{{data.id}}" />
				</td>
				<td>
					<input type="button" class="delete" value="Delete" id="attribute@{{data.id}}" />
				</td>
			</tr>
			{{/each}}
		</table>
		<br>
		<table>
			<caption>
				<h10>Skills</h10>
			</caption>
			<tr>
				<th>Name</th>
				<th>Subtitle</th>
				<th>XP</th>
				<th>
					<input type="button" value="Add New" class="add" id="skill" onclick="$('#select-skill').selectedIndex = -1;" />
					<select id="select-skill" onFocus="this.selectedIndex = -1;">
					{{#each item.system.skillNames as |skill key|}}
						<option value="{{key}}">{{localize key}}</option>
					{{/each}}
					</select>
				</th>
			</tr>
			{{#each item.system.skills as |data|}}
			<tr>
				<td>{{localize data.name}}</td>
				<td>
				{{#if data.hasSubtitle}}
					<input type="text" value="{{data.subtitle}}" class="subtitle" id="skill@{{data.id}}" />
				{{/if}}
				</td>
				<td>
					<input type="number" value="{{data.xp}}" class="xp" id="skill@{{data.id}}" />
				</td>
				<td>
					<input type="button" class="delete" value="Delete" id="skill@{{data.id}}" />
				</td>
			</tr>
			{{/each}}
		</table>
		<br>
		<table>
			<caption>
				<h10>Traits</h10>
			</caption>
			<tr>
				<th>Name</th>
				<th>Subtitle</th>
				<th>XP</th>
				<th>
					<input type="button" value="Add New" class="add" id="trait" onclick="$('#select-trait').selectedIndex = -1;" />
					<select id="select-trait" onFocus="this.selectedIndex = -1;">
					{{#each item.system.traitNames as |trait key|}}
						<option value="{{key}}">{{localize key}}</option>
					{{/each}}
					</select>
				</th>
			</tr>
			{{#each item.system.traits as |data|}}
			<tr>
				<td>{{localize data.name}}</td>
				<td>
				{{#if data.hasSubtitle}}
					<input type="text" value="{{data.subtitle}}" class="subtitle" id="trait@{{data.id}}" />
				{{/if}}
				</td>
				<td>
					<input type="number" value="{{data.xp}}" class="xp" id="trait@{{data.id}}" />
				</td>
				<td>
					<input type="button" class="delete" value="Delete" id="trait@{{data.id}}" />
				</td>
			</tr>
			{{/each}}
		</table>
	</body>
</form>