<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img
			class="profile-img"
			src="{{item.img}}"
			data-edit="img"
			title="{{item.name}}"
		/>
		<div class="header-fields">
			<h1 class="charname"><input
				name="name"
				type="text"
				value="{{item.name}}"
				placeholder="Name"
			/></h1>
		</div>
	</header>
	<section class="sheet-body">
		<div>
		{{! Editors must receive enriched text data from getData to properly handle rolls }}
		{{editor
			enrichedDescription
			target="system.description"
			engine="prosemirror"
			button=true
			editable=editable
		}}
		</div>
		<br>
		<table>
			<tr>
				<th>Type</th>
				<th>Model</th>
				<th>Cost</th>
				<th>Tonnage</th>
				<th>Slots</th>
				{{#if (eq system.stats.type "ammo")}}
				<th>Shots</th>
				{{/if}}
				<th>Tech</th>
				<th>Av</th>
				<th>BV</th>
				<th>Ref</th>
			</tr>
			<tr>
				<td>
					<select name="system.stats.type">
					{{#select system.stats.type}}
					{{#if (eq item.type "vehicle_weapon")}}
						<option value="ballistic">Ballistic</option>
						<option value="energy">Energy</option>
						<option value="missile">Missile</option>
						<option value="melee">Melee</option>
					{{else if (eq item.type "vehicle_equipment")}}
						<option value="equipment">Equipment</option>
						<option value="heatsink">Heatsink</option>
						<option value="ammo">Ammunition</option>
					{{/if}}
					{{/select}}
					</select>
					{{#if (eq system.stats.type "heatsink")}}
					<select name="system.stats.subtype">
					{{#select system.stats.subtype}}
						<option value="single">Single</option>
						<option value="double">Double</option>
					{{/select}}
					</select>
					{{/if}}
					{{#if (eq system.stats.type "ammo")}}
					<select name="system.stats.subtype">
					{{#select system.stats.subtype}}
						<option value="lrm5">LRM-5</option>
						<option value="lrm10">LRM-10</option>
						<option value="lrm15">LRM-15</option>
						<option value="lrm20">LRM-20</option>
						<option value="srm2">SRM-2</option>
						<option value="srm4">SRM-4</option>
						<option value="srm6">SRM-6</option>
						<option value="ac2">AC/2</option>
						<option value="ac5">AC/5</option>
						<option value="ac10">AC/10</option>
						<option value="ac20">AC/20</option>
						<option value="mg_half">Machine Gun ammo (100)</option>
						<option value="mg_full">Machine Gun ammo (200)</option>
					{{/select}}
					</select>
					{{/if}}
				</td>
				<td>
					<input type="text" value="{{system.stats.model}}" name="system.stats.model" placeholder="Enter model here..." />
				</td>
				<td>
					<input type="number" value="{{system.stats.cost}}" name="system.stats.cost" placeholder="Enter cost in C-bills here..." />
				</td>
				<td>
					<input type="number" value="{{system.stats.tonnage}}" name="system.stats.tonnage" placeholder="Enter weight in tonnes here..." />
				</td>
				<td>
					<input type="number" value="{{system.stats.slots}}" name="system.stats.slots" placeholder="Enter number of critical slots here..." />
				</td>
				{{#if (eq system.stats.type "ammo")}}
				<td>
					<input type="number" name="system.profile.shots" value="{{system.profile.shots}}" placeholder="Enter number of shots per ton here..." />
				</td>
				{{/if}}
				<td>
					<input type="text" value="{{system.stats.tech}}" name="system.stats.tech" placeholder="Enter tech code here..." />
				</td>
				<td>
					<input type="text" value="{{system.stats.av}}" name="system.stats.av" placeholder="Enter availability code here..." />
				</td>
				<td>
					<input type="number" value="{{system.stats.bv}}" name="system.stats.bv" placeholder="Enter BV here..." />
				</td>
				<td>
					<input type="text" value="{{system.ref}}" name="system.ref" placeholder="Enter reference page number here..." />
				</td>
			</tr>
		</table>
		{{#if (eq item.type "vehicle_weapon")}}
		<br>
		<table>
			<caption></caption>
			<tr>
				<th>Damage</th>
				<th>Heat</th>
				<th>Min. Range</th>
				<th>Short</th>
				<th>Med</th>
				<th>Long</th>
				<th>Flags</th>
			</tr>
			<tr>
				<td>
					<input type="number" name="system.profile.damage" value="{{system.profile.damage}}" placeholder="Enter damage here..." />
				</td>
				<td>
					<input type="number" name="system.profile.heat" value="{{system.profile.heat}}" placeholder="Enter heat here..." />
				</td>
				<td>
					<input type="number" name="system.profile.r_min" value="{{system.profile.r_min}}" placeholder="0" />
				</td>
				<td>
					<input type="number" name="system.profile.r_sht" value="{{system.profile.r_sht}}" placeholder="1" />
				</td>
				<td>
					<input type="number" name="system.profile.r_med" value="{{system.profile.r_med}}" placeholder="2" />
				</td>
				<td>
					<input type="number" name="system.profile.r_lng" value="{{system.profile.r_lng}}" placeholder="3" />
				</td>
				<td>
					<input type="number" name="system.profile.flags" value="{{system.profile.flags}}" placeholder="Enter weapon flags here..." />
				</td>
			</tr>
		</table>
		{{/if}}
	</section>
</form>